* {
  margin: 0;
}


p {
  margin: 16px;
  line-height: 2;
}

.wrapper {
  padding: 32px;
}

.cookie-container {
  display: flex;
  position: fixed;
  bottom: -100%;
  left: 0;
  right: 0;
  background: #2f3640;
  color: #f5f6fa;
  box-shadow: 0 -2px 16px rgba(47, 54, 64, 0.39);

  transition: 400ms;
}

.cookie-container.active {
  bottom: 0;
}

.cookie-container a {
  color: #f5f6fa;
}

.cookie-btn {
  background: #e84118;
  border: 0;
  color: #f5f6fa;
  padding: 3px 10px 3px 10px;
  margin: 16px;
  border-radius: 8px;
  cursor: pointer;
}
